#root {
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #f29090;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  margin: 0 5px;
}

form {
  margin-top: 15px;
}
input {
  border-radius: 10px;
  border: 1px solid #eee;
}
label {
  margin-right: 5px;
}
.inputDate {
  border: none;
  text-align: center;
  font-size: 18px;
  background: #fbeded;
  color: #929191;
  border-radius: 10px;
  padding: 5px 0;
  font-weight: bold;
  border-color: #f29090;
}
input.inputText {
  width: 250px;
  height: 40px;
  margin-top: 20px;
}
ul {
  font-size: 18px;
}
li {
  text-decoration-color: #f04747;
}

button {
  height: 40px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}
.addBtn {
  background: #ff7777;
  color: #fff;
  font-weight: bold;
}
.delBtn {
  height: 25px;
}
.allDelBtn {
  background: hwb(0 29% 8%);
  font-weight: bold;
  color: #f2f2f2;
}
